/* LoginPage.css */

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.login-page h1 {
    margin-bottom: 20px;
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input,
select {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    font-size: 0.9rem;
}

p span {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

p span:hover {
    color: #0056b3;
}
